{% extends 'base.html' %}
{% block title %}
    Leads
{% endblock %}
{% block page %}
    <style>
    form label{
        width: 100%;
    }
    </style>
    {{ ll }}
    <div class="container-fluid">
    <div class="row">
        <div class="col">
        <p>
  <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Filters
  </button> <a href="/" class="btn  btn-outline-success" >
  Reset filters
  </a>
</p>
<div class="collapse" id="collapseExample">
            <div class="card card-body">

    <form class="form-filter" action="" method="get">
      <div class="alert alert-danger" role="alert" style="display: none">
          Choose some filter

</div>
        <div class="row">
            <div class="col-md col-sm-12">
                <div class="form-group">
                    <label for="">
                        <span>
                           #
                        </span>
                                <input value="{{ get.id }}" type="text" class="form-control" placeholder="123" name="id">

                    </label>
                </div>
            </div>
            <div class="col-md col-sm-12">
                <div class="form-group">
                    <label for="">
                        <span>
                           Name
                        </span>
        <input value="{{ get.full_name__icontains }}" type="text" class="form-control" placeholder="Jon" name="full_name__icontains">

                    </label>
                </div>
            </div> <div class="col-md col-sm-12">
                <div class="form-group">
                    <label for="">
                        <span>
                           Phone
                        </span>
        <input value="{{ get.phone__icontains }}" type="text" class="form-control" placeholder="799999" name="phone__icontains">

                    </label>
                </div>
            </div>
            <div class="col-md col-sm-12">
                 <div class="form-group">
                <label for="">
                    <span>Client status</span>
                    <select class="form-control" name="status">
                        <option value=""> Choose</option>
                        <option value="new" {% if get.status == 'new' %}selected{% endif %}>New</option>
                        <option value="account fixing" {% if get.status == 'account fixing' %}selected{% endif %}>Account fixing</option>
                        <option value="not interested" {% if get.status == 'not interested' %}selected{% endif %}>Not interested</option>
                        <option value="deposit" {% if get.status == 'deposit' %}selected{% endif %}>Deposit</option>
                        <option value="registered" {% if get.status == 'registered' %}selected{% endif %}>Registered</option>
                        <option value="waiting" {% if get.status == 'waiting' %}selected{% endif %}>Waiting</option>
                        <option value="sales work" {% if get.status == 'sales work' %}selected{% endif %}>Sales work</option>

                    </select>


                </label>
            </div>
            </div>
         {% if user.role == "ADM" or user.role == "CLS"%}
            <div class="col-md col-sm-12">
                 <div class="form-group">
                <label for="">
                    <span>Manager</span>
                    <select class="form-control" name="manager" >
                        <option value=""> Choose</option>
                    {% for m in SLS %}
                        <option value="{{ m.id }}" {% if get.manager == m.id|stringformat:'d' %}selected{% endif %}>{{ m }}</option>
                    {% endfor %}

                    </select>


                </label>
            </div>
            </div>
        {% endif %}
        {% if user.role == "ADM" %}
            <div class="col-md col-sm-12">
                 <div class="form-group">
                <label for="">
                    <span>Closer</span>
                    <select class="form-control" name="manager__closer" >
                        <option value=""> Choose</option>
                    {% for m in CLS %}
                        <option value="{{ m.id }}" {% if get.manager__closer == m.id|stringformat:'d' %}selected{% endif %}>{{ m }}</option>
                    {% endfor %}

                    </select>


                </label>
            </div>
            </div>
                    {% endif %}

            <div class="col-md col-sm-12">
                 <div class="form-group">
                                     <span for="">
                                         Date
                                     </span>
               <div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" value="{% if start %}{{ start }}{% endif %}" name="start" placeholder="dd/mm/yyyy" autocomplete="off"/>
    <span class="input-group-addon">/</span>
    <input type="text" class="input-sm form-control" value="{% if end %}{{ end }}{% endif %}"  name="end" placeholder="dd/mm/yyyy" autocomplete="off"/>
</div>
            </div>
            </div>

        </div>
        <button  class="btn btn-success">Filter</button>
    </form>


            </div>

    <br>
</div>
           <div class="card">
  <div class="card-header row align-items-center justify-content-between" style="margin: 0 0 15px 0"><h3 style="margin: 0">
      Leads
  </h3>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
Create lead</button>
  </div>
  <div class="card-body">
      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">Update</th>
      <th scope="col">Full name</th>
      <th scope="col">Phone</th>
      <th scope="col">Manager</th>
              {% if user.role == "ADM" %}
      <th scope="col">Closer</th>
        {% endif %}
              <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody>


  {% for lead in leads %}
    <tr>
      <th >{{ lead.id }}</th>
      <td>{{ lead.date|date:"d.m.y/H:i" }}</td>
      <td>{{ lead.update|date:"d.m.y/H:i" }}</td>
      <td><a href="lead/{{ lead.id }}">{{lead.full_name}}</a></td>
      <td><span class="text">{{lead.phone}}</span> <button class="copy btn btn-outline-primary btn-sm"><i class="far fa-copy"></i></button></td>
      <td>{{lead.manager}}</td>
                      {% if user.role == "ADM" %}

      <td>{{lead.manager.closer}}</td>
                {% endif %}



      <td>

          <span class="badge badge-pill
           {% if lead.status == "new" %}
           badge-secondary
           {% elif lead.status == 'account fixing'%}
            badge-warning
{% elif lead.status == 'not interested'%}
badge-danger
{% elif lead.status == 'deposit'%}
badge-success
{% elif lead.status == 'registered'%}
badge-primary
{% elif lead.status == 'waiting'%}
badge-info
{% elif lead.status == 'sales work'%}
badge-dark

{% endif %}

" style="text-transform: capitalize"> {{lead.status}}</span>



      </td>

    </tr>
{% endfor %}
  </tbody>
</table>
  {% if leads.has_other_pages %}
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    <li class="page-item {% if not leads.has_previous %}disabled{% endif %}">
      {% if leads.has_previous %}
      <a class="page-link" href="?page={{ leads.previous_page_number }}{% if filter_url %}&{{ filter_url }}{% endif %}" tabindex="-1" aria-disabled="true">Previous</a>
          {% else %}
      <span class="page-link" tabindex="-1" aria-disabled="true">Previous</span>

          {% endif %}
    </li>

  {% for i in leads.paginator.page_range %}
      {% if leads.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</a></li>
      {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}{% if filter_url %}&{{ filter_url }}{% endif %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}


    <li class="page-item {% if not leads.has_next %}disabled{% endif %}">
    {% if leads.has_next %}
      <a class="page-link" href="?page={{ leads.next_page_number }}{% if filter_url %}&{{ filter_url }}{% endif %}">Next</a>
        {% else %}
      <span class="page-link" ">Next</span>

        {% endif %}
    </li>

  </ul>
</nav>
  {% endif %}
    {% if not leads %}
        <h4>No Leads
</h4>
  {% endif %}
  </div>
</div>
        </div>
    </div>
    </div>


    <br>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="form" action="ajaxCreateLead/" method="post">
              <div class="alert alert-success" role="alert" style="display: none">
</div>
              {% csrf_token %}
              <div class="form-group">
                  <label for="full_name">Full name</label>
                  <input id="full_name" placeholder="Jon Snow" name="full_name" type="text" class="form-control" required>

              </div><div class="form-group">
                  <label for="phone">Phone</label>
                  <input id="phone" placeholder="+79549999999" name="phone" type="text" class="form-control" required>

              </div>
              <button type="submit" class="btn btn-primary btn-block btn-lg">Create lead</button>
          </form>
      </div>
    </div>
  </div>
</div>
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker3.min.css">
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script>
    $( document ).ready(function() {
        $('.input-daterange').datepicker({
            format:"dd/mm/yyyy"

});
        $('.form').submit(function (e) {
                e.preventDefault();
                      var form = $(this);
                        var buttonText = form.find('button[type="submit"]').text();
$.ajax({
        url: 'ajaxCreateLead/',
        type: 'POST',
        data: form.serialize(),
        beforeSend: function(){
          form.find('button[type="submit"]').prop('disabled', true).text('Wait...');
        }
      })
      .done(function(response) {
        console.log(response)
          if(response=='Name and phone empty'){
                        form.find('.alert').show()
              form.find('.alert').text(response)

          }   if(response=='Bad request'){
                        form.find('.alert').show()
              form.find('.alert').text(response)

          }else {
              location.href= response;
          }

      })
      .fail(function() {})
      .always(function() {
        console.log("complete");
        form.find('button[type="submit"]').prop('disabled', false).text(buttonText);
      })

        })
        $('.form-filter').submit(

            function (e) {
                e.preventDefault();
                var form = $(this);

$(':input', this).each(function() {
        this.disabled = !($(this).val());
    });
var url = form.serialize();

        if (url.length>=1){
                location.href = "?"+url

        }
        else {
$(':input', this).each(function() {
        this.disabled = ($(this).val());
    });
        form.find('.alert').show()
        }

            }
        )

});
    </script>
{% endblock %}





